@import "../../variables.scss";

.customer_email,
.customer_name,
.customer_type,
.customer_company,
.customer_country,
.customer_subscription {
  padding-left: 15px;
  color: $main-font-color;
}
.customer_email {
  font-weight: 600;
}
.customer_subscription {
  font-weight: 500;
}
