@import "../variables.scss";

.users_list__container {
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}

.users_table {
  width: 95%;
  margin-top: 20px;
  border-radius: 5px;

  &__header-row {
    color: $header-color;
    font-weight: 600;
    text-align: left;
    height: 40px;
  }
  &__header-cell {
  }
  &__cell {
    height: 80px;
    text-align: left;
  }
}

.users_table,
.users_table__header-row,
.users_table__header-cell,
.users_table__cell {
  border-collapse: collapse;
  border: 1px solid $main-color-border;
}
