$white: #fafafa;
$menu-name-color: #4d9db8;
$menu-color: #2185a6;
$header-color: #feb31c;
$main-color-border: rgba(56, 132, 160, 0.3);
$main-font-color: rgb(55, 60, 61);
$popup-background-color: #f1f1f1;
